---
import logo from '../images/Thomson.svg'
---

<header class="header bg-gray-700">
    <div class="container">
      <div class="logo">
        <a href="/">
          <img class = "filter-white" src={logo} alt= ""/>
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    </div>
</header>

<style>
    .header {
    height: 70px;
    /* background: var(--color-primary); */
    }

    .header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    }

    .header img {
    height: 60px;
    vertical-align: middle;
    }

    .header nav ul {
    display: flex;
    }

    .header nav ul li {
    padding: 0 10px;
    }

    .header nav ul li a {
    color: #fff;
    }    
    
    .filter-white{
        filter: invert(79%) sepia(3%) saturate(11%) hue-rotate(324deg) brightness(87%) contrast(86%);
    }
</style>