---
export interface Props {
  logo: string;
}
const {logo} = Astro.props as Props;
---
<div class = "loader">
    <img src = {logo} class = "logo-color h-56 w-56" alt = "">
</div>

<style>
    .loader-bg{
      background: whitesmoke no-repeat center center;
      height: 100vh;
      width:100%;
      left: 10px;
      top: 10px;
      z-index: 100;
    }
    .logo-color{
      filter: invert(85%) sepia(0%) saturate(25%) hue-rotate(155deg) brightness(98%) contrast(91%);
      animation: blink 1.5s ease-in-out forwards infinite alternate;
    }
    .loader{
      position: fixed;
      top: 0;
      left: 0;
      background: rgb(33, 30, 30);
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .disappear{
      animation: vanish 1.5s forwards;
    }
        
    @keyframes blink{
        100%{
            opacity:0;
            margin-bottom: 20%;
        }
    }

    @keyframes vanish{
        100%{
            opacity: 0;
            visibility: hidden;
        }
    
    }
  </style>
  
  <script>
    var loader = document.querySelector(".loader")
    var logoloader = document.querySelector(".logo-color")
  
    window.addEventListener("load", vanish);
  
    function vanish(){
      loader.classList.add("disappear");
      logoloader.classList.add("trans");
    }
  </script>